html {
  height: 100vh;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  color: var(--fg);
  background-color: var(--bg);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fg: #111;
  --bg: #f7e7d5;
  --pri: #b58348;
  --pri-light: #cb9d62;
  --sec: #487ab5;
  --sec-light: #6290cb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
